[submodule "fV-SRN-Ensemble-Compression"]
	path = fV-SRN-Ensemble-Compression
	url = https://github.com/Bussler/fV-SRN-Ensemble-Compression.git
[submodule "NeurcompCompression"]
	path = NeurcompCompression
	url = https://github.com/Bussler/NeurcompCompression
